{% extends 'base.html' %}

{% load static %}

{% block content %}



<h1>About the project</h1>
<p style="text-align: justify;">
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam eum ullam qui maiores labore id enim officiis ut reprehenderit. Ullam expedita beatae ipsam sapiente illum quis. Est iusto repellat quisquam?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae accusamus quod dolorem minima. Ex, unde saepe laboriosam veniam dolor earum, maxime, illo dicta cupiditate modi laudantium? Mollitia autem voluptates delectus!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi corrupti doloremque cum, voluptatibus optio dolores at molestiae placeat eos quibusdam saepe voluptates repellat quia, perferendis id, neque illum obcaecati repellendus.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus rerum ipsa autem labore. Provident aperiam nisi nihil sint corrupti aut eum quia sed, fuga mollitia asperiores laudantium commodi veritatis vel.
</p>
<h2>The team</h2>
<p style="text-align: justify;"">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, asperiores saepe esse placeat nulla laudantium molestias harum itaque culpa nostrum eum sint incidunt voluptatum nemo? Cupiditate mollitia minus cum esse.
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore, sed? Eum, voluptatem reprehenderit pariatur dolores nemo fuga laboriosam eveniet cupiditate illo asperiores suscipit velit, a enim officiis commodi dolore minus.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque impedit iste cupiditate quo unde? Cum, odio accusantium, repudiandae nam maiores consequatur quos quod eligendi voluptatibus minima exercitationem animi, optio voluptas.
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque, velit sequi rerum illo exercitationem est quidem tenetur! Ea animi praesentium voluptatum architecto ut debitis quasi nam quae officia? Eligendi, soluta?
</p>
{% endblock content %}