{% extends 'base.html' %}

{% load static %}

{% block content %}



<h1>About the project</h1>
<p style="text-align: justify;">
    Nowadays, we are overwhelmed by a mass of information on the internet. This information floods the social networks on which we navigate daily, as well as 
    the web pages we explore or the email exchanges we make. Whether it is in the professional or in the private life, the speed at which these publications 
    follow each other lead to the creation of a mass of information that it is often complex to analyze without spending a whole life. Our website proposes 
    to simplify our poor human condition by offering a quick and synthetic analysis of this mass of information through the use of an artificial intelligence 
    API. No more need to brood through the assimilation of a much too high quantity of caffeine in order to try to analyze until the end of the night this 
    information, it is enough now simply to send this information so that our Web site takes care of the rest. <br>
</p>

<p style="text-align:center;"> <h4><font color="blue">Have a good and peaceful rest of life !</font></h4> </p>
<br>
<br>
<h1>The S-team</h1>
<p style="text-align: justify;">
    Our team is composed of two learners from the Simplon.co Hauts-de-France training. They met during the months of October and November 2022 to work 
    on a project supposed to revolutionize the balance of life and strength at the same time. <br>
</p>
<br>
<p style="text-align:center;"> <h3>Emad Darwich</h3> </p> 
<img src="{% static 'base/images/emad.png' %}" class="bd-placeholder-img rounded-circle" width="140" height="140" /> <br>
<br>

<p style="text-align:justify;"> Passionate about data analysis, new technologies and curious to understand how they can be applied in different fields, Emad 
    is specialized in spatial statistics and its spatial statistics and its applications in the epidemiological and environmental environmental fields. 
    His academic, professional and volunteer experiences have allowed him to acquire and volunteer experiences have given him a strong ability to present, 
    communicate and disseminate information in a way that is clear, effective and beneficial to end users.<br> <br>

    A true wizard of django and python programming, Emad is full of ideas to exploit and make machine learning technologies accessible to the largest
     possible audience. </p>

<p><a class="text-muted" href="https://github.com/emaddar/"><svg class="bi" width="24" height="24"><i class="fa-brands fa-github fa-xl"></i></svg></a></li><a class="text-muted" href="https://www.linkedin.com/in/e-darwich/"><svg class="bi" width="24" height="24"><i class="fa-brands fa-linkedin fa-xl"></i></svg></a></li>
</p>

<br>
<p style="text-align:center;"> <h3>Marion Studer</h3> </p> 
<img src="{% static 'base/images/marion.png' %}" class="bd-placeholder-img rounded-circle" width="140" height="140" /><br>
<br>

<p style="text-align:justify;"> Passionate about exploring new subjects, research and studies in social sciences, her doctoral studies allowed her to 
    benefit from a thorough mastery of qualitative and quantitative analysis methods while having several years of field experience in the social economy.
     Through Simplon, she now wishes to combine this scientific expertise with her attraction for information by exploring the use of machine learning 
     tools in textual analysis.<br> <br>

     A lover of neat and tidy things, including Emad's many lines of code which she otherwise likes, she focuses on providing the best user experience for 
     the sites she works on. </p>
    
 <p><a class="text-muted" href="https://github.com/lohofora/"><svg class="bi" width="24" height="24"><i class="fa-brands fa-github fa-xl"></i></svg></a></li><a class="text-muted" href="https://www.linkedin.com/in/marion-studer-0569b8173/"><svg class="bi" width="24" height="24"><i class="fa-brands fa-linkedin fa-xl"></i></svg></a></li>
  </p>

{% endblock content %}