

    {% extends 'base.html' %}

    {% load static %}
    
    {% block content %}
    
    <main>
      

      <form action="your_text_result">
        {% csrf_token %}
        <div class="row g-2">
    
          <!-- all_words -->
            <div class="col-md">
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInputGrid" placeholder="Your Text here" name="all_words" required>
                <!-- <label for="floatingInputGrid">Email address</label> -->
              </div>
            </div>
        
    
        <input class="btn btn-primary btn-lg btn-block" type="submit" value='Text Analysis'>
    
      </form>
    
    
    </main>
    
    {% endblock content %}