{% extends 'base.html' %}

{% load static %}

{% block content %}

  

<form action="upload_file_result" style= "
width: 1100px;
height: 300px;

position: absolute;
top:0;
bottom: 0;
left: 0;
right: 0;

margin: auto;
">
    {% csrf_token %}

    <h1 style="color:rgb(44, 44, 90); font-weight: 700;">
      <i class="fa-brands fa-internet-explorer"></i> URL text analysis 
    </h1>
    <div class="row g-2">

      <!-- all_words -->
        <div class="col-md">
          <div class="form-floating">
            <label for="floatingInputGrid">Enter your URL</label>
            <input type="text" class="form-control" id="myFile" multiple onchange="myfunction()" placeholder="Ex: https://www.bfmtv.com/*" name="file" required>
            <p id = "demo"></p>
        </div>
        </div>
        <input class="btn btn-primary btn-lg btn-block" type="submit" value='Submit'>
    
    </form>






{% endblock content %}
